fastapi
uvicorn

#for template
jinja2

#for static files
aiofiles

#for database   
sqlalchemy         
psycopg2

#for loading environment variables  
python-dotenv


#postgresql

#jwt Authentication modules

python-jose[cryptography]

passlib[bcrypt] 

python-multipart

#logger file
loguru==0.6.0