# fastapi
fastapi==0.89.1
uvicorn==0.17.6
pydantic
pydantic[email]

#for template
jinja2

#for static files
aiofiles==23.1.0

#for database
sqlalchemy==1.4.46
setuptools
psycopg2-binary

#for loading environment variables  
python-dotenv

#gunicorn
# uvloop
uvicorn
gunicorn

#jwt Authentication modules

python-jose[cryptography]

passlib[bcrypt] 

python-multipart

loguru==0.6.0

pyjwt

fastapi-jwt-auth

sympy

# alembic
alembic

pipenv

# cloud authenticator
cloud-sql-python-connector[pg8000]


gunicorn

google